.Cell {
	min-width: 40px;
	min-height: 40px;
	border-radius: 4px;
}

.Element {
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #FFF;
	margin: 1px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.DefaultColor {
	background-color: #6BA398;
}

.AlkalineEarthMetals {
	background-color: #2ED9E7;
}

.AlkaliMetals {
	background-color: #2E6CE7;
}

.TransitionMetals {
	background-color: #2EE736;
}

.PostTransitionMetal {
	background-color: #7FE72E;
}

.Metalloids {
	background-color: #C5E72E;
}

.OtherNonmetals {
	background-color: #E78D2E;
}

.Halogens {
	background-color: #E7502E;
}

.NobleGases {
	background-color: #662EE7;
}

.Lanthanides {
	background-color: #2EE78D;
}

.Actinides {
	background-color: #196650;
}

/*.Superactinides {
	background-color: #C5E72E;
}*/
