.Header {
    background: linear-gradient(#CA94F2, rgba(70, 80, 85, 0.6));
    border-radius: 20px;
    border: 5px solid rgba(170, 180, 185, 0.6);
    color: rgba(240, 240, 250, 1.0);
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    padding: 10px;
    text-shadow: 2px 2px 6px rgba(10, 10, 25, 0.4);
}

#img1 {
    animation: img1-rotate 10s linear infinite;
    height: 60px;
    width: 60px;
}

@keyframes img1-rotate {
    0% { 
        transform: rotate(0);
    }
    100% { 
        transform: rotate(360deg);
    }
}
