button {
	color: white;
	width: 180px;
	height: 55px;
	border-radius: 10px;
	padding: 2px;
	margin: 2px;
	font-weight: bold;
}

#Element {
	border-radius: 5px;
	color: white;
	background-color: grey;
	padding: 2px;
	margin: 2px;
	width: 180px;
	height: 180px;
	font-size: 80px;
}
