.OptionsBar {
	padding-top: 8px;
}

#img2 {
    width: 30px;
    height: 30px;
    animation: img1-rotate 10s linear infinite;
    filter: blur(0.2px);
}

.FamilyButton {
	border-radius: 10px;
	border: none;
	color: white;
	font-weight: bold;
	height: 55px;
	margin: 2px;
	padding: 4px;
	text-decoration: none;
	width: 250px;
}

.FamilyButtonMouseOver {
	visibility: visible;
}

.FamilyButtonMouseOut {
	visibility: hidden;
}
