#Box {
	animation: selectedelement 20s linear 4s infinite alternate;
	background-color: grey;
	border-radius: 10px;
	color: white;
	height: 180px;
	margin: 2px;
	padding: 4px;
	width: 180px;
}

#EName {
	font-size: 20px;
}

#ESymbol {
	font-size: 75px;
}

#EAtomicNumber {
	font-size: 16px;
	text-align: right;
}

@keyframes selectedelement {
	0%   { background-color:grey }
	20%  { background-color:skyblue }
	40%  { background-color:grey }
	60%  { background-color:skyblue }
	80% { background-color:grey }
	100% { background-color:skyblue }
}
