.Cell {
	min-width: 40px;
	min-height: 40px;
	border-radius: 4px;
}

.Element {
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #FFF;
	margin: 1px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.DefaultColor {
	background-color: #6BA397;
}

.NobleGases {
	background-color: #E7502E;
}

.Halogens {
	background-color: #E78D2E;
}

.NoMetals {
	background-color: #E7CB2E;
}

.Metalloids {
	background-color: #C5E72E;
}

.PostTransitionalMetals {
	background-color: #7FE72E;
}

.TransitionMetals {
	background-color: #2EE736;
}

.Actinides {
	background-color: #2EE78D;
}

.Lanthanides {
	background-color: #2ED9E7;
}

.AlkalineEarthMetals {
	background-color: #2E6CE7;
}

.AlkaliMetals {
	background-color: #662EE7;
}
